* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, serif;
    line-height: 1.5;
    color: rgb(38, 51, 12);
    background-color: rgb(212, 31, 73);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.page {
    padding: 30px 60px;
    background-color: rgb(162, 225, 96);
}

h1 {
    font-size: 200%;
}

p {
    font-family: Georgia, serif;
    font-size: 115%;
}

a {
    color: rgb(38, 51, 12);
    text-transform: lowercase;
}

aside {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    opacity: 0;
    transition: 0s 180s;
}

aside:hover {
    opacity: 1;
    transition: 0.2s;
}

aside:nth-of-type(odd) {
    float: right;
    text-align: center;
    margin-left: 40px;
    clear: left;
}

aside:nth-of-type(even) {
    float: left;
    clear: right;
    text-align: center;
    margin-right: 40px;
}

.featured-photo img {
    width: 500px;
}

figure img {
    width: 400px;
}

figure img.portrait {
    width: 200px;
}

figure figcaption {
    font-size: 90%;
    font-style: italic;
    text-transform: lowercase;
    padding: 15px 0;
}

main {
    padding: 30px 0;
}

p:hover {
    opacity: 1;
    transition: 0.2s;
}

/* Header */
header {
    padding: 20px 0;
    background-color: rgb(212, 31, 73);
}

#branding {
    text-decoration: none;
    font-size: 250%;
    font-weight: bold;
    float: left;
    color: rgb(38, 51, 12);
    opacity: 0;
    transition: 0s 180s
}

#branding:hover {
    opacity: 1;
    transition: 0.2s;
}

nav {
    float: right;
    margin-top: 23px;
}

nav ul li {
    display: inline;
    padding-left: 20px;
}

header nav a {
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
    opacity: 0;
    transition: 0s 180s;
}

header nav a:hover {
    transition: 0.2s;
    opacity: 1;
}

/* Banner */
#banner {
    padding-bottom: 30px;
    height: 600px;
    background: url(background.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#banner .container {
    justify-content: center;
}

.banner-inner {
    padding-top: 75px;
    text-align: center;
}

#banner h1 {
    font-size: 400%;
    margin-bottom: 250px;
    line-height: normal;
    opacity: 0;
    transition: 0s 180s;
    text-transform: lowercase;
}

#banner h1:hover {
    opacity: 1;
    transition: 0.3s;
}

#banner h1:hover ~ * {
    opacity: 0.1;
    transition: 0.2s;
}

#banner a {
    padding: 12px 42px;
    font-size: 120%;
    cursor: pointer;
    background-color: rgb(212, 31, 73);
    color: rgb(38, 51, 12);
    border: none;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    opacity: 0;
    transition: 0s 180s;
}

#banner a:hover {
    opacity: 1;
    transition: 0.2s;
}

#banner p {
    font-size: 120%;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 15px;
    opacity: 0;
    transition: 0s 180s;
}

#banner p:hover {
    opacity: 1;
    transition: 0.3s;
}

/* Topic */
#blog-post h1 {
    text-transform: lowercase;
    opacity: 0;
    transition: 0s 180s;
    text-align: center;
}

#blog-post h1:hover {
    opacity: 1;
    transition: 0.2s;
}

#blog-post p {
    margin-bottom: 30px;
    text-transform: lowercase;
    opacity: 0;
    transition: 0s 180s;
    font-size: 100%;
}

#blog-post p:hover {
    opacity: 1;
    transition: 0.2s;
}

#blog-post p.tag {
    margin-bottom: 0px;
    text-align: center;
}

#blog-post p.date {
    text-transform: lowercase;
    margin-bottom: 60px;
    text-align: center;
}

/* About the barangay */
#barangay-banner {
    background: url("brgy-banner.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 20px;
}

#barangay-overview h1 {
    margin-bottom: 30px;
}

#barangay-overview p {
    margin-bottom: 30px;
    text-align: justify;
}

#barangay-overview h2, #barangay-overview h3 {
    margin-top: 20px;
}

/* About Us */
#page-banner {
    background: url("our-team.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 20px;
    text-align: justify;
}

#our-team h1 {
    margin-bottom: 30px;
}

#our-team p {
    text-align: justify;
}

/* Support us */
#support-us {
    background-color: rgb(162, 225, 96);
}

#support-us h2 {
    display: none;
}

ul.social {
    list-style: none;
    text-align: center;
}

ul.social li {
    font-size: 80%;
    padding: 0 3px;
    width: 50px;
    height: 50px;
    font-family: Arial, sans-serif;
    display: inline-block;
}

ul.social li a {
    color: #ffffff;
    text-decoration: none;
    opacity: 0;
    transition: 0s 180s;
}

.social div.social-logo {
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transition: 0s 180s;
}

.social div.social-logo:hover {
    opacity: 1;
    transition: 0.2s;
}

#facebook {
    background: url("fb.png") no-repeat center;
    background-size: 20px 30px;
}

#twitter {
    background: url("twitter.png") no-repeat center;
    background-size: 15px 30px;
}

#instagram {
    background: url("instagram.png") no-repeat center;
    background-size: 40px 20px;
}

#gmail {
    background: url("gmail.png") no-repeat center;
    background-size: 30px 20px;
}

.label {
    display: none;
}

/* Footer */
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    text-transform: lowercase;
}

footer p {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 90%;
}

/* Media Queries */
/* @media screen and (max-width: 767px) {
    body {
        background-color: #f4f4f4;
    }

    .container {
        width: 90%;
    }

    .page {
        padding: 0;
    }

    h1 {
        font-size: 150%;
    }

    p {
        font-size: 100%;
    }

    header {
        text-align: center;
    }

    #branding {
        font-size: 150%;
        float: none;
    }

    nav {
        margin-top: 10px;
        font-size: 65%;
        float: none;
    }

    nav ul li {
        padding-left: 10px;
    }

    #banner {
        height: 450px;
    }

    .banner-inner {
        padding-top: 60px;
        width: 100%;
        text-align: center;
    }

    #banner h1 {
        font-size: 300%;
        line-height: normal;
        margin-bottom: 15px;
    }

    #banner p {
        font-size: 100%;
    }

    .featured-photo img {
        width: 300px;
    }

    figure img {
        width: 300px;
    }

    figure img.portrait {
        width: 100px;
    }

    aside:nth-of-type(odd) {
        float: none;
        text-align: center;
        margin-left: 0;
    }

    aside:nth-of-type(even) {
        float: none;
        text-align: center;
        margin-right: 0;
    }

    #barangay-banner {
        height: 200px;
    }

    #barangay-overview h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    #page-banner {
        height: 200px;
        text-align: justify;
    }

    #our-team h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    #support-us h2 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 10px;
        font-size: 110%;
    }

    ul.social {
        text-align: center;
    }

    ul.social li {
        float: none;
        display: block;
        margin-top: 10px;
    }

    footer p {
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 80%;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 180%;
    }

    p {
        font-size: 105%;
    }

    #branding {
        font-size: 150%;
    }

    nav {
        margin-top: 10px;
        font-size: 80%;
    }

    #banner {
        height: 500px;
    }

    .banner-inner {
        padding-top: 70px;
    }

    #banner h1 {
        font-size: 350%;
        line-height: normal;
        margin-bottom: 15px;
    }

    .featured-photo img {
        width: 300px;
    }

    figure img {
        width: 300px;
    }

    figure img.portrait {
        width: 100px;
    }

    #barangay-banner {
        height: 300px;
    }

    #barangay-overview h1 {
        margin-bottom: 5px;
    }

    #page-banner {
        height: 300px;
        text-align: justify;
    }

    #our-team h1 {
        margin-bottom: 5px;
    }

    #support-us h2 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        font-size: 110%;
    }

    ul.social li {
        float: none;
        display: inline-block;
    }

    footer p {
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 80%;
    }
}

@media screen and (min-width: 992px) {
    #branding {
        font-size: 200%;
    }

    nav {
        margin-top: 15px;
        font-size: 95%;
    }

    #banner {
        height: 700px;
    }

    #banner h1 {
        font-size: 350%;
        line-height: normal;
        margin-bottom: 20px;
    }

    #support-us h2 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        font-size: 110%;
    }

    ul.social li {
        float: none;
        display: inline-block;
    }

    #barangay-banner {
        height: 500px;
    }

    #page-banner {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 250%;
    }

    p {
        font-size: 115%;
    }

    #branding {
        font-size: 250%;
    }

    nav {
        font-size: 120%;
        margin-top: 20px;
    }

    #banner {
        height: 800px;
    }

    .banner-inner {
        width: 60%;
        margin-top: 80px;
    }

    #banner h1 {
        font-size: 400%;
        line-height: normal;
        margin-bottom: 20px;
    }

    #banner p {
        font-size: 150%;
    }

    #support-us h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 170%;
    }

    ul.social {
        margin-bottom: 20px;
    }

    .social div.social-logo {
        width: 40px;
        height: 40px;
    }

    ul.social li {
        float: none;
        display: inline-block;
    }

    .featured-photo img {
        width: 600px;
    }

    .featured-photo img {
        width: 500px;
    }

    figure img {
        width: 400px;
    }

    figure img.portrait {
        width: 200px;
    }

    #barangay-banner {
        height: 600px;
    }

    #page-banner {
        height: 600px;
    }

    footer p {
        font-size: 110%;
    }
} */