* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #cccccc;
    color: #000000;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.page {
    background-color: #f4f4f4;
    padding: 30px 60px;
}

h1 {
    font-size: 200%;
}

p {
    font-family: Arial, sans-serif;
    font-size: 115%;
}

a {
    color: #f67327;
}

aside:nth-of-type(odd) {
    float: right;
    text-align: center;
    margin-left: 40px;
}

aside:nth-of-type(even) {
    float: left;
    text-align: center;
    margin-right: 40px;
}

.featured-photo img {
    width: 500px;
}

figure img {
    width: 400px;
}

figure img.portrait {
    width: 200px;
}

figure figcaption {
    font-size: 80%;
    font-style: italic;
    margin-top: -5px;
    margin-bottom: 20px;
}

main {
    padding: 30px 0;
}

/*--- Header --*/
header {
    background-color: #043954;
    color: #ffffff;
    border-bottom: 3px solid #f67327;
    padding: 20px 0;
}

#branding {
    color: #ffffff;
    text-decoration: none;
    font-size: 250%;
    font-weight: bold;
    float: left;
}

nav {
    float: right;
    margin-top: 23px;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    padding-left: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header .highlight, header .current a {
    color: #f67327;
}

header nav a:hover {
    color: #cccccc;
}

/*--- Banner --*/
#banner {
    background: url('banner.jpg') no-repeat;
    padding-bottom: 30px;
    background-size: cover;
    background-position: right;
    height: 800px;
    color: #ffffff;
}

.banner-inner {
    width: 70%;
    padding-top: 120px;
    text-align: left;
}

#banner h1 {
    font-size: 400%;
    line-height: normal;
    margin-bottom: 20px;
}

#banner p {
    font-family: Arial, sans-serif;
    #text-shadow: 1px 1px 2px #000000;
    font-size: 110%;
    margin-bottom: 15px;
}

#banner a {
    padding: 12px 42px;
    font-size: 120%;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    color: #043954;
    text-decoration: none;
    transition-duration: 0.5s;
    display: inline-block;
    margin-top: 20px;
}

#banner a:hover {
    background-color: #043954;
    color: #ffffff;
}

/**--- Topic --*/
#blog-post p {
    margin-bottom: 30px;
    text-align: justify;
}

#blog-post p.tag {
    font-family: sans-serif;
    margin-bottom: 0px;
}

#blog-post p.date {
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/**--- Brgy Imelda Marcos --*/
#barangay-banner {
    background: url("brgy-banner.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 20px;
}

#barangay-overview h1 {
    margin-bottom: 30px;
}

#barangay-overview p {
    margin-bottom: 30px;
    text-align: justify;
}

#barangay-overview h2, #barangay-overview h3 {
    margin-top: 20px;
}

/**--- About Us --*/
#page-banner {
    background: url("our-team.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 20px;
    text-align: justify;
}

#our-team h1 {
    margin-bottom: 30px;
}

#our-team p {
    text-align: justify;
}

/**--- Support Us Footer --*/
#support-us {
    background-color: #043954;
    border-top: 3px solid #f67327;
    padding: 20px 0;
    padding-bottom: 10px;
    color: #ffffff;
    margin: auto;
}

#support-us h2 {
    margin-top: 2px;
    width: 40%;
    float: left;
}

ul.social {
    list-style: none;
}

ul.social li {
    font-size: 80%;
    padding: 0 50px;
    font-family: Arial, sans-serif;
    display: inline;
    float: left;
}

ul.social li a {
    color: #ffffff;
    text-decoration: none;
}

.social div.social-logo {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.8;
}
.social div.social-logo:hover {
    opacity: 1.0;
}

#facebook {
    background: url("fb.png") no-repeat center;
    background-size: cover;
}

#twitter {
    background: url("twitter.png") no-repeat center;
    background-size: cover;
}

#instagram {
    background: url("instagram.png") no-repeat center;
    background-size: cover;
}

#gmail {
    background: url("gmail.png") no-repeat center;
    background-size: cover;
}

.label {
    font-size: 90%;
}

/**--- Footer --*/
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}

footer p {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 90%;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    body {
        background-color: #f4f4f4;
    }

    .container {
        width: 90%;
    }

    .page {
        padding: 0;
    }

    h1 {
        font-size: 150%;
    }

    p {
        font-size: 100%;
    }

    header {
        text-align: center;
    }

    #branding {
        font-size: 150%;
        float: none;
    }

    nav {
        margin-top: 10px;
        font-size: 65%;
        float: none;
    }

    nav ul li {
        padding-left: 10px;
    }

    #banner {
        height: 450px;
    }

    .banner-inner {
        padding-top: 60px;
        width: 100%;
        text-align: center;
    }

    #banner h1 {
        font-size: 300%;
        line-height: normal;
        margin-bottom: 15px;
    }

    #banner p {
        font-size: 100%;
    }

    .featured-photo img {
        width: 300px;
    }

    figure img {
        width: 300px;
    }

    figure img.portrait {
        width: 100px;
    }

    aside:nth-of-type(odd) {
        float: none;
        text-align: center;
        margin-left: 0;
    }

    aside:nth-of-type(even) {
        float: none;
        text-align: center;
        margin-right: 0;
    }

    #barangay-banner {
        height: 200px;
    }

    #barangay-overview h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    #page-banner {
        height: 200px;
        text-align: justify;
    }

    #our-team h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    #support-us h2 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 10px;
        font-size: 110%;
    }

    ul.social {
        text-align: center;
    }

    ul.social li {
        float: none;
        display: block;
        margin-top: 10px;
    }

    footer p {
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 80%;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 180%;
    }

    p {
        font-size: 105%;
    }

    #branding {
        font-size: 150%;
    }

    nav {
        margin-top: 10px;
        font-size: 80%;
    }

    #banner {
        height: 500px;
    }

    .banner-inner {
        padding-top: 70px;
    }

    #banner h1 {
        font-size: 350%;
        line-height: normal;
        margin-bottom: 15px;
    }

    .featured-photo img {
        width: 300px;
    }

    figure img {
        width: 300px;
    }

    figure img.portrait {
        width: 100px;
    }

    #barangay-banner {
        height: 300px;
    }

    #barangay-overview h1 {
        margin-bottom: 5px;
    }

    #page-banner {
        height: 300px;
        text-align: justify;
    }

    #our-team h1 {
        margin-bottom: 5px;
    }

    #support-us h2 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        font-size: 110%;
    }

    ul.social li {
        float: none;
        display: inline-block;
    }

    footer p {
        color: #ffffff;
        font-family: Arial, sans-serif;
        font-size: 80%;
    }
}

@media screen and (min-width: 992px) {
    #branding {
        font-size: 200%;
    }

    nav {
        margin-top: 15px;
        font-size: 95%;
    }

    #banner {
        height: 700px;
    }

    #banner h1 {
        font-size: 350%;
        line-height: normal;
        margin-bottom: 20px;
    }

    #support-us h2 {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 20px;
        font-size: 110%;
    }

    ul.social li {
        float: none;
        display: inline-block;
    }

    #barangay-banner {
        height: 500px;
    }

    #page-banner {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 250%;
    }

    p {
        font-size: 115%;
    }

    #branding {
        font-size: 250%;
    }

    nav {
        font-size: 120%;
        margin-top: 20px;
    }

    #banner {
        height: 800px;
    }

    .banner-inner {
        width: 60%;
        margin-top: 80px;
    }

    #banner h1 {
        font-size: 400%;
        line-height: normal;
        margin-bottom: 20px;
    }

    #banner p {
        font-size: 150%;
    }

    #support-us h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 170%;
    }

    ul.social {
        margin-bottom: 20px;
    }

    .social div.social-logo {
        width: 40px;
        height: 40px;
    }

    ul.social li {
        float: none;
        display: inline-block;
    }

    .featured-photo img {
        width: 600px;
    }

    .featured-photo img {
        width: 500px;
    }

    figure img {
        width: 400px;
    }

    figure img.portrait {
        width: 200px;
    }

    #barangay-banner {
        height: 600px;
    }

    #page-banner {
        height: 600px;
    }

    footer p {
        font-size: 110%;
    }
}