* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, serif;
    line-height: 1.5;
    text-transform: lowercase;
    color: #EEE8AA;
    background-color: rgb(212, 31, 73);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.page {
    padding: 60px;
    background-color: rgb(38, 51, 12);
}

h1 {
    font-size: 200%;
}

p {
    font-family: Georgia, serif;
    font-size: 110%;
}

a {
    color: rgb(253, 127, 54);
}

aside {
    background-color: #d3d3d3;
    padding: 20px;
    margin: 10px 0;
    opacity: 0;
    transition: 0s 180s;
}

aside:hover {
    opacity: 1;
    transition: 0.2s;
}

aside:nth-of-type(odd) {
    float: right;
    text-align: center;
    margin-left: 40px;
}

aside:nth-of-type(even) {
    float: left;
    text-align: center;
    margin-right: 40px;
}

.featured-photo img {
    width: 450px;
}

figure img {
    width: 350px;
}

figure img.portrait {
    width: 150px;
}

figure figcaption {
    font-size: 90%;
    font-style: italic;
    text-transform: lowercase;
    padding: 15px 0;
    color: rgb(38, 51, 12);
}

p:hover {
    opacity: 1;
    transition: 0.2s;
}

/* Header */
header {
    padding: 20px 0;
    background-color: rgb(212, 31, 73);
}

#branding {
    text-decoration: none;
    font-size: 300%;
    font-weight: bold;
    float: left;
    color: rgb(38, 51, 12);
    opacity: 0;
    transition: 0s 180s
}

#branding:hover {
    opacity: 1;
    transition: 0.2s;
}

nav {
    float: right;
    margin-top: 30px;
}

nav ul li {
    display: inline;
    padding-left: 30px;
}

header nav a {
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
    opacity: 0;
    transition: 0s 180s;
    color: rgb(38, 51, 12);
}

header nav a:hover {
    transition: 0.2s;
    opacity: 1;
}

/* Banner */
#banner {
    padding-bottom: 30px;
    height: 800px;
    background: url(background.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
}

#banner .container {
    justify-content: center;
}

.banner-inner {
    padding-top: 130px;
    text-align: center;
}

#banner h1 {
    font-size: 500%;
    margin-bottom: 310px;
    line-height: normal;
    opacity: 0;
    transition: 0s 180s;
    color: #ffffff;
}

#banner h1:hover {
    opacity: 1;
    transition: 0.3s;
}

#banner h1:hover ~ * {
    opacity: 0.1;
    transition: 0.2s;
}

#banner a {
    padding: 5px 22px;
    font-size: 170%;
    cursor: pointer;
    color: rgb(38, 51, 12);
    border: 2px solid rgb(38, 51, 12);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    opacity: 0;
    transition: 0s 180s;
}

#banner a:hover {
    opacity: 1;
    transition: 0.2s;
}

#banner p {
    font-size: 130%;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 15px;
    opacity: 0;
    transition: 0s 180s;
    color: rgb(38, 51, 12);
}

#banner p:hover {
    opacity: 1;
    transition: 0.3s;
}

/* Topic */
#blog-post h1 {
    opacity: 0;
    transition: 0s 180s;
    text-align: center;
    font-size: 250%;
}

#blog-post h1:hover {
    opacity: 1;
    transition: 0.2s;
}

#blog-post p {
    margin-bottom: 30px;
    opacity: 0;
    transition: 0s 180s;
    font-size: 110%;
    text-transform: none;
}

#blog-post p:hover {
    opacity: 1;
    transition: 0.2s;
}

#blog-post p.tag {
    margin-bottom: 0px;
    text-align: center;
}

#blog-post p.date {
    text-transform: lowercase;
    margin-bottom: 60px;
    text-align: center;
}

/* About the barangay */
#barangay-banner {
    background: url("brgy-banner.png") no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 20px;
}

#barangay-overview h1 {
    margin-bottom: 30px;
}

#barangay-overview p {
    margin-bottom: 30px;
    text-transform: none;
}

#barangay-overview h2, #barangay-overview h3 {
    margin-top: 20px;
}

/* About Us */
#page-banner {
    background: url("our-team.png") no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 20px;
    text-align: justify;
}

#our-team h1 {
    margin-bottom: 30px;
}

#our-team p {
    text-align: justify;
    text-transform: none;
}

/* Support us */
#support-us {
    background-color: transparent;
}

#support-us h2 {
    display: none;
}

ul.social {
    list-style: none;
    text-align: center;
}

ul.social li {
    font-size: 80%;
    padding: 0 3px;
    width: 50px;
    height: 35px;
    display: inline-block;
}

ul.social li a {
    color: #ffffff;
    opacity: 0;
    transition: 0s 180s;
}

.social div.social-logo {
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transition: 0s 180s;
}

.social div.social-logo:hover {
    opacity: 1;
    transition: 0.2s;
}

#facebook {
    background: url("fb.png") no-repeat center;
    background-size: 18px 26px;
}

#twitter {
    background: url("twitter.png") no-repeat center;
    background-size: 13px 26px;
}

#instagram {
    background: url("instagram.png") no-repeat center;
    background-size: 40px 18px;
}

#gmail {
    background: url("gmail.png") no-repeat center;
    background-size: 24px 18px;
}

.label {
    display: none;
}

/* Footer */
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    text-transform: lowercase;
}

footer p {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 90%;
}